/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2018, 5:18:33 PM
    Author     : SHUBHAM
*/
table {
    overflow: scroll;
}
#parent-block-layout {
    position: absolute;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    z-index: 0;
    top: 0px;
    left: 47.2069px;
    width: 100%;
    height: 100%;
}
.zoomImg img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoomImg:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar {
    opacity: 0.8;
}
.navbar-inner {
    opacity: 0.999;
}
