.section-container{
    margin: 20px;
    overflow: hidden;
}
.content-area{
    display: flex;
    width: 100%;
}
.password-field{
    width: 80%;
    padding: 20px;
}

.password-strength{
    align-content: flex-end;
    padding: 0px 0px 0px 10px;
    width: 20%;
    margin: -5px 0 0 0;
}

.img-field{
    width:25px;
    height:25px;
    margin: 17px;
    position: absolute;
}
.img-field img{
    width:100%;
}

.svg-field{
    width: 50px;
    height: 50px;
    padding: 5px;  
}
.circle-grey{
    stroke:#d9d4d4;
    stroke-dasharray:0;
    stroke-dashoffset:0 ;
    stroke-width:5;
}
.circle-front{
    stroke:white;
    stroke-dasharray:144;
    stroke-dashoffset:144 ;
    stroke-width:5;
    transition: stroke-dashoffset 1s linear;
}
